body {
    margin: 0%;
}

h1 {
    text-align: center;
}

.shell {
    background: red;
    margin: auto;
    width: 400px;
    height: 700px;
}

.screen {
    position: relative;
    top: 200px;
    width: 300px;
    height: 200px
    ;
    background: green;
}